*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
    min-height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
}

header{
    height: 5rem;
    margin-bottom: 3rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dadada;
}

header a{
    padding: 1rem;
    /* text-decoration: none; */
    color: #555;
}

header a:hover{
    color: hsl(203, 30%, 50%);
}